name: CI/CD - FlaskApp

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest

  build_docker:
    runs-on: ubuntu-latest
    needs: test  # only runs if tests pass

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t gillesarthur/flaskapp:latest -f ./Dockerfile .
        
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          docker tag flaskapp ${{ secrets.DOCKER_USERNAME }}/flaskapp:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/flaskapp:latest
          
      - name: List files in repo
        run: ls -la
